
@font-face {
    font-family: minecraft;
    src: url(MinecraftBold-nMK1.otf);
    src: url(MinecraftBoldItalic-1y1e.otf);
    src: url(MinecraftItalic-R8Mo.otf);
    src: url(MinecraftRegular-Bmg3.otf);
  }
  
  
  #tic{background-color: #073B4C;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  border-style: double;
  border-color: rgb(0, 0, 0);
  border-width: 15px;
  
  }
  
  @media only screen and (min-width: 1000px) {

   

  
          html{background-color: #073B4C; height: 100%;}
          table{border-radius: 15px;
          width: 100%;column-width: 100%;
      height: 100%;}
      body{ height: 100%;}
          
  #tab{text-align: center;
      width: 40%;
      height: 170%;
      padding: 1%;
   margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  border: 5px;
  border-color: black;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  
  }
  
  
  
  button{
      width:100%;
     height: 100%;
     background-color: #118AB2;
    
     color: white;
     display:initial;
     font-size: 500%;
     border-style:solid;
     border-color: rgb(0, 0, 0);
     border-width: 5px;
  
  }
  button:hover{
      width:100%;
     height: 100%;
     background-color: rgba(0, 92, 128, 0.664);
     border: 4%;
  border-color: black;
  display: block;
  border-style: solid;
     
     color: white;
   
     font-size: 500%;
  
  }
  #th{width: 100%;
  column-width: 100%; height: 100%;display: block;}
  #tr{width: 100%;
  column-width: 100%; height: 100%;display: block;}
  #td{width: 100%;column-width: 100%; height: 100%;display: block;}
  
  
  
  
  
  
  *{font-family:minecraft;}
  h1{font-size: 35px;}
  


  #out{
    color: white;
    margin: 0px;
    font-size: 55px;
    size: 150px;
    padding: 0px;
    
    background-color: rgba(219, 31, 31, 0);
display: block;
text-align: center;

}
  }
  
  
  
  
  
  
  
  
  
  
          html{background-color: #1B2A41 ; height: 100%;}
          table{border-radius: 15px;
          width: 100%;column-width: 100%;
      height: 100%;
      }
      body{ height: 25%;}
          
  #tab{text-align: center;
      padding: 1%;
      margin-left: 10%;
  margin-right: 10%;
   margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  border: 5px;
  border-color: black;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  
  }
  
  
  
  button{
      width:100%;
     height: 100%;
     background-color: #118AB2;
     
     color: white;
     display:initial;
     font-size: 600%;
     border-style:solid;
     border-color: rgb(0, 0, 0);
     border-width: 5px;
  }
  button:hover{
      width:100%;
     height: 100%;
     background-color: rgba(0, 92, 128, 0.664);
     border: 4%;
  border-color: black;
  display: block;
  border-style: solid;
    
     color: white;
   
     font-size: 600%;
  
  }
  
  #margina{margin-left: 10%;
  margin-right: 10%;
  height: 150%;
  }
  #th{width: 100%;
  column-width: 100%; height: 100%;display: block;}
  #tr{width: 100%;
  column-width: 100%; height: 100%;display: block;}
  #td{width: 100%;column-width: 100%; height: 100%;display: block;}
  
  h1{font-size: 65px;}
  
  #out{
    color: white;
    margin: 0px;
    font-size: 55px;
    size: 150px;
    padding: 0px;
    
    background-color: rgba(219, 31, 31, 0);
display: block;
text-align: center;

}
  
  
  *{font-family:minecraft;}
  
  
      
  
  
  
  
  